.btn{
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn-edit{
    background-color: #008cba;
}
.btn-delete{
    background-color: red;
}
.btn-view{
    background-color: #e7e7e7;
    color: black;
}

.btn-addUser{
    background-color: red;
    margin-bottom: 10px;
}