.details-container{
    display: flex;
    flex-direction: column;

}

.details-h1{
    margin: auto;
    margin-top: 5em;
}

.detailmodal-content{
    width: 20%;
    margin: auto;
}


.button-delete{
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: red;
}

.button-save{
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: green;
}

