.home-container{
    background: #DDDAD8;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    object-fit: contain;
    height: 100vh;
    width: 100%;

}

.h1-home {
    color: #000;
    font-size: 45px;
    margin: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
}