
.header-container{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

.customer-name {
   margin-left: 20%;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.contracts-name {
    margin-left: 30%;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.contracts {
    font-size: 20px;
    font-weight: normal;
}

.profile-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 85vh;
    width: 100%;
}

.input-container-profile{
    margin: auto;
    width: 90%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: row;

}

.update-container{
    width: 30%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
}


.profile-input{
    width: 100px;
    margin-top: 1em;
    height: 40px;
}

.userInfo{
    width: 40%;
    height: 90%;
    margin: auto;
}

.styled-table.tableU{
    margin: 2em 4em 2em 2em;

}
td {
    padding: 10px;
}

.button-profile {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.button-profile:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.button-container{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content : space-between;

}


/* IF BUTTON Clicked */

.showDetails-container{
    background-color: #282c34;
    width: 100%;
    height: 100%;
}


