.contracts-container{
    /* background: #DDDAD8;*/
    /* display: flex;*/
    /* justify-content: center;*/
    /* flex-direction: column;*/
    /* align-items: center;*/
    object-fit: contain;
    height: 100vh;
    width: 100%;

}

.modal {
    /* styles for modal container */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    /* styles for modal content container */
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 4px;
    overflow: auto;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 0.5em);
    margin: 0.25em;
}

.form-label,
.form-input,
.form-input-date
.form-input-license{
    width: calc(50% - 0.5em);
}
.form-label {
    /* styles for form labels */
    font-weight: bold;
}

.form-input {
    /* styles for form inputs */
    display: block;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-input-date {
    /* styles for form input dates */
    display: block;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-input-license {
    /* weitere styles für form inputs */
    resize: both;
}

.form-input-date::-webkit-inner-spin-button,
.form-input-date::-webkit-calendar-picker-indicator {
    /* styles for form input dates in Webkit browsers */
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

.form-input-date::-ms-clear {
    /* styles for form input dates in Internet Explorer */
    display: none;
    width: 0;
    height: 0;
}

.contracts-button {
    /* styles für contracts buttons */
    width: 130px;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: auto ;
    cursor: pointer;
    background-color: red;
}






.card{
    /*width: 30%;*/
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    align-content: center;
    margin: 0 auto;
}
.card-header{
    height: 30%;
    background: #5d6770;
    color: white;
    text-align: center;
}
.card-header p{
    font-size: 20px;
}

.container{
    padding: 4px 16px;
}

.styled-table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 18px #888888;
}

.dateStart, .dateEnd{
    display: flex;
    flex-direction: column;
}

#startDatum, #endDatum{
    padding: 12px 12px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table-container{
    margin: auto;
}

.contracts-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

