input[type="text"],
input[type="email"],
input[type="number"],

select{
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="button"]{
    width: 100%;
    background-color: #40453e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="button"]:hover{
    background-color: #45a049;
}

.add-container{
    display: flex;
    flex-direction: row;


}


.modal {
    /* styles for modal container */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    /* styles for modal content container */
    width: 80%;
    max-width: 800px;
    background-color: white;
    border-radius: 4px;
    overflow: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.addEddit{
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
}

.seperateTwo{
    width: 45%;
}

.seperateOne{

}

.input-styale{
    width: 100px;
}

.customers-container{
    margin: auto;
}

.add-h1{
    width: 70%;
}


