.customer-container{
    background: #DDDAD8;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    object-fit: contain;
    height: 100vh;
    width: 100%;

}

.h1-customer {
    color: #000;
    font-size: 45px;
    margin: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
}

.users-container{
    background: #DDDAD8;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    object-fit: contain;
    height: 100vh;
    width: 100%;

}

.h1-users {
    color: #000;
    font-size: 45px;
    margin: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
}

.styled-table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 18px #888888;
}

.styled-table thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
}
.styled-table th,
.styled-table tr{
    padding: 12px 15px;
}

.styled-table td{
    padding: 3px;
    border: 1px solid #009879;
}

.styled-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.btn{
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn-edit{
    background-color: #008cba;
}
.btn-delete{
    background-color: red;
}
.btn-view{
    background-color: #e7e7e7;
    color: black;
}

.btn-addUser{
    position: relative;
    left: 45%;
    background-color: red;
    margin-bottom: 10px;
}

.SearchDiv{
    text-align: center;

}

.customer-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    z-index:999;
    width:50%;
    text-align:center;
    height: 60%;
    background: rgb(106, 106, 106);
    color: white;

}

.modal-center{
    height: 50%;
    margin-top: 15em;
}

.button-close{
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5em;
    cursor: pointer;
    background-color: red;
}