.navbar {
    background: #313335;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 9px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;

}

.nav-item .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 2em;
    height: 100%;
    transition: all 0.2s ease-out;
}

.nav-item .nav-links:hover {
    border-bottom: 4px solid #87CEFF;
}

.nav-item .nav-links.active {
    color: #87CEFF; /* oder eine andere Farbe, die Sie bevorzugen */
    border-bottom: 4px solid #87CEFF; /* oder eine andere Farbe, die Sie bevorzugen */
}


.fa-bars {
    color: #000;
}


.menu-icon {
    display: none;
}


